@font-face {
  src: url("../fonts/sf-ui-display/sf-ui-display-light-58646b33e0551.otf");
  font-family: "SF UI Display";
  font-weight: 300;
  font-style: normal; }

@font-face {
  src: url("../fonts/sf-ui-display/SF-UI-Display-Regular.otf");
  font-family: "SF UI Display";
  font-weight: normal;
  font-style: normal; }

@font-face {
  src: url("../fonts/sf-ui-display/sf-ui-display-semibold-58646eddcae92.otf");
  font-family: "SF UI Display";
  font-weight: 600;
  font-style: normal; }

@font-face {
  src: url("../fonts/sf-ui-display/sf-ui-display-bold-58646a511e3d9.otf");
  font-family: "SF UI Display";
  font-weight: bold;
  font-style: normal; }

:root {
  --text-color: #000;
  --gray-color: #585858;
  --gray-hover-color: #8b8b8b;
  --white-color: #fff;
  --primary-color: #fd665e;
  --primary-hover-color: #fc362c; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  font-family: "SF UI Display", sans-serif;
  color: var(--text-color); }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

img {
  display: block; }

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "New York Extra Large", sans-serif;
  letter-spacing: -0.04em; }

h1 {
  font-size: 67.2px;
  line-height: 1; }
  @media (min-width: 1024px) {
    h1 {
      font-size: 112px; } }

h2 {
  font-size: 48px;
  line-height: 1.24; }

p {
  line-height: 1.6;
  letter-spacing: 0.01em; }

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none; }

.flex {
  display: flex; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-end {
  justify-content: flex-end; }

.items-center {
  align-items: center; }

.self-start {
  align-self: flex-start; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.text-primary {
  color: var(--primary-color); }

.text-bold {
  font-weight: bold; }

.btn {
  display: inline-block;
  background-color: var(--btn-bg-color);
  border-radius: 4px;
  color: var(--btn-text-color, var(--white-color));
  font-size: 14px;
  font-weight: bold;
  line-height: 2.86;
  letter-spacing: 0.01em;
  padding: 8px 32px; }
  .btn-primary {
    position: relative;
    z-index: 1;
    --btn-bg-color: var(--primary-color); }
    .btn-primary::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: var(--primary-hover-color);
      transform: scaleX(0);
      transform-origin: left;
      transition: 0.4s;
      z-index: -1; }
    .btn-primary:hover::before {
      transform: scaleX(1); }

.carousel-btn {
  display: inline-block;
  padding: 14px;
  font-size: 20px;
  border-radius: 4px; }
  .carousel-btn:hover {
    background: rgba(0, 0, 0, 0.03);
    color: #fd665e; }

.container {
  max-width: 1117px;
  width: 90%;
  margin: 0 auto; }

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px; }

.bg-gray {
  background: linear-gradient(180deg, #f9f9f9 22.12%, rgba(249, 249, 249, 0) 100%); }

.hidden {
  display: none !important; }

.navbar {
  gap: 30px;
  padding: 33px 50px;
  position: relative;
  justify-content: space-between; }
  @media (min-width: 640px) {
    .navbar {
      flex-direction: column; } }
  @media (min-width: 1024px) {
    .navbar {
      flex-direction: row;
      gap: 60px; } }

.nav {
  display: flex;
  width: 100%;
  font-size: 14px;
  background-color: #eaeaea;
  color: var(--gray-color);
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out; }
  .nav--open {
    max-height: 100vh; }
  .nav__links-wrapper {
    gap: 0;
    flex-direction: column;
    padding: 15px 15px 0; }
  .nav__buttons {
    gap: 15px;
    padding: 0 15px 15px; }
  .nav__links-wrapper li,
  .nav__buttons li {
    width: 100%; }
  .nav__link {
    display: inline-block;
    padding: 15px;
    width: 100%; }
    .nav__link:hover {
      color: var(--gray-hover-color); }
    .nav__link:hover::before {
      width: 0; }
  .nav__signup {
    padding: 15px 24px;
    line-height: inherit;
    width: 100%; }
    .nav__signup:hover {
      background-color: var(--primary-hover-color); }
    .nav__signup:hover::before {
      transform: scaleX(0); }
  .nav__signin {
    border-radius: 4px;
    padding: 15px;
    width: 100%;
    color: var(--gray-color); }
    .nav__signin:hover {
      color: var(--gray-color);
      background-color: #e2e2e2; }
  @media (min-width: 640px) {
    .nav {
      display: flex;
      background: none;
      position: relative;
      overflow: visible;
      max-height: none;
      transition: none; }
      .nav__signup:hover {
        background-color: var(--primary-color); }
      .nav__signup:hover::before {
        transform: scaleX(1); }
      .nav__links-wrapper {
        gap: 15px;
        text-align: center; }
      .nav__links-wrapper, .nav__buttons {
        flex-direction: row;
        justify-content: center;
        padding: 0; }
      .nav__link {
        position: relative;
        padding: 0;
        width: auto; }
        .nav__link:hover {
          color: var(--gray-color); }
        .nav__link::before {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 1px;
          background-color: var(--primary-color);
          transition: 0.4s; }
        .nav__link:hover::before {
          width: 100%; } }
  @media (min-width: 1024px) {
    .nav {
      padding: 0;
      flex-direction: row; }
      .nav__links-wrapper {
        gap: 50px; }
      .nav__links-wrapper li,
      .nav__buttons li {
        width: auto; }
      .nav__buttons {
        gap: 45px; } }

.navbarSearch {
  gap: 15px;
  justify-content: center; }
  .navbarSearch__btn {
    display: none;
    font-size: 18px;
    line-height: 0;
    color: #585858;
    padding: 10px 15px;
    border-radius: none; }
  .navbarSearch__inputWrapper {
    position: relative;
    display: block;
    width: 100%; }
  .navbarSearch__input {
    width: 100%;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.03); }
    .navbarSearch__input::placeholder {
      font-family: "SF UI Display", sans-serif;
      color: gray; }
  .navbarSearch__label::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    transition: 0.4s; }
  .navbarSearch__input:focus + .navbarSearch__label::before,
  .navbarSearch__input:valid + .navbarSearch__label::before {
    width: 100%; }
  @media (min-width: 1024px) {
    .navbarSearch__btn {
      display: block; }
    .navbarSearch__inputWrapper {
      display: none; }
    .navbarSearch__inputWrapper--open {
      display: block; }
    .navbarSearch__inputWrapper--open ~ .navbarSearch__btn {
      background: rgba(0, 0, 0, 0.03);
      color: #fd665e; } }

.navbar-toggler {
  display: flex;
  width: 25px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between; }
  .navbar-toggler .bar {
    background-color: var(--gray-color);
    height: 3px;
    width: 100%; }
  @media (min-width: 640px) {
    .navbar-toggler {
      display: none; } }

.footer {
  padding: 83px 0;
  border-top: 1px solid #f0f0f0; }

.footer-nav {
  gap: 48px; }
  .footer-nav__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 3.33;
    letter-spacing: 0.01em;
    color: var(--gray-color); }
    .footer-nav__link:hover {
      color: var(--gray-hover-color); }

.showcase {
  padding: 40px 0; }
  @media (min-width: 1024px) {
    .showcase {
      padding: 49px 0; } }
  .showcase__header {
    margin-bottom: 30px; }
    @media (min-width: 1024px) {
      .showcase__header {
        margin-bottom: 56px; } }
  .showcase__info {
    gap: 30px;
    flex-direction: column; }
    @media (min-width: 1024px) {
      .showcase__info {
        gap: 55px;
        flex-direction: row; } }
  .showcase__text {
    margin-bottom: 40px; }
    @media (min-width: 1024px) {
      .showcase__text {
        margin-bottom: 48px; } }

.rooms__container {
  overflow-x: hidden; }

.rooms__header {
  display: flex;
  margin-bottom: 40px; }

.rooms__heading {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.rooms__buttons {
  margin-left: auto;
  align-self: flex-end; }

.slider__container {
  gap: 40px; }

.slider__prev-btn {
  margin-right: 8px; }

.info__heading {
  margin-bottom: 40px; }

.info__body {
  gap: 155px; }

.info-details-wrapper {
  flex-direction: column; }

.info-details {
  margin-bottom: 72px; }
  .info-details > * + * {
    margin-top: 48px; }
  .info-details__container {
    gap: 38px; }
  .info-details__heading {
    display: block;
    margin-bottom: 8px;
    font-weight: bold; }
  .info-details__cta {
    margin-left: auto;
    margin-right: auto; }

.testimonials__container {
  overflow-x: hidden;
  position: relative; }

.testimonials__heading {
  margin-bottom: 40px; }

.testimonials__carousel-container {
  gap: 100px;
  width: 874px;
  margin-left: auto; }

.testimonials__text {
  gap: 52px;
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 14px; }

.testimonials__quotes {
  align-self: flex-start; }

.testimonials__paragraph {
  margin-bottom: 59px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.01em; }

.testimonials__buttons {
  position: absolute;
  right: 0;
  bottom: 0; }

.testimonials__prev-btn {
  margin-right: 8px; }

.cta__container {
  gap: 123px; }

.cta__heading {
  margin-bottom: 64px; }

.partners__heading {
  margin-bottom: 56px; }

.partners__brands {
  justify-content: space-between;
  align-items: center; }
