@font-face {
  src: url("../fonts/sf-ui-display/SF-UI-Display-Regular.otf");
  font-family: "SF UI Display";
  font-weight: normal;
  font-style: normal; }

@font-face {
  src: url("../fonts/sf-ui-display/sf-ui-display-semibold-58646eddcae92.otf");
  font-family: "SF UI Display";
  font-weight: bold;
  font-style: normal; }

:root {
  --text-color: #000;
  --gray-color: #585858;
  --white-color: #fff;
  --primary-color: #fd665e; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  font-family: "SF UI Display", sans-serif;
  color: var(--text-color); }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

img {
  display: block; }

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "New York Extra Large", sans-serif; }

h1 {
  font-size: 112px;
  line-height: 1;
  letter-spacing: -0.04em; }

p {
  line-height: 1.6;
  letter-spacing: 0.01em; }

.flex {
  display: flex; }

.justify-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.text-primary {
  color: var(--primary-color); }

.btn {
  display: inline-block;
  background-color: var(--btn-bg-color);
  border-radius: 4px;
  color: var(--btn-text-color, var(--white-color));
  font-size: 14px;
  font-weight: bold;
  line-height: 2.86;
  letter-spacing: 0.01em; }
  .btn-primary {
    --btn-bg-color: var(--primary-color); }

.container {
  max-width: 1117px;
  margin: 0 auto; }

.header {
  gap: 60px;
  padding: 33px 50px; }

.navbar {
  width: 100%;
  font-size: 14px;
  color: var(--gray-color); }
  .navbar__links {
    gap: 50px; }
  .navbar__buttons {
    gap: 45px; }
  .navbar__search {
    display: block; }
  .navbar__signup {
    padding: 15px 24px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px; }

.showcase {
  padding: 49px 0; }
  .showcase__header {
    margin-bottom: 56px; }
  .showcase__info {
    gap: 55px; }
  .showcase__text {
    margin-bottom: 48px; }
  .showcase__btn {
    padding: 8px 32px; }
