*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "SF UI Display", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "New York Extra Large", sans-serif;
  letter-spacing: -0.04em;
}

h1 {
  font-size: 67.2px;
  line-height: 1;

  @include mq(large) {
    font-size: 112px;
  }
}

h2 {
  font-size: 38px;
  line-height: 1.24;

  @include mq(large) {
    font-size: 48px;
  }
}

p {
  line-height: 1.6;
  letter-spacing: 0.01em;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
}
