.footer {
  padding: 43px 0;
  border-top: 1px solid #f0f0f0;

  @include mq(small) {
    padding: 83px 0;
  }

  &__container {
    gap: 15px;
    text-align: center;
    align-items: center;

    @include mq(small) {
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
    }
  }

  &__logo {
    margin-top: 15px;

    @include mq(small) {
      margin-top: 0;
    }
  }
}

.footer-nav {
  gap: 15px;

  @include mq(small) {
    gap: 48px;
    flex-direction: row;
  }

  &__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 3.33;
    letter-spacing: 0.01em;
    color: var(--gray-color);

    &:hover {
      color: var(--gray-hover-color);
    }
  }
}
