.header {
  gap: 60px;
  padding: 33px 50px;
}

.navbar {
  width: 100%;
  font-size: 14px;
  color: var(--gray-color);

  &__links-wrapper {
    gap: 50px;
  }

  &__link {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: var(--primary-color);
      transition: 0.4s;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__buttons {
    gap: 45px;
  }

  &__signup {
    padding: 15px 24px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
  }
}

.navbar-search {
  gap: 15px;

  &__btn {
    display: inline-block;
    font-size: 18px;
    line-height: 0;
    color: #585858;
    padding: 10px 15px;
    border-radius: none;
  }

  &__input-wrapper {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: translateX(10px);
    transition: 0.4s;
  }

  &__input-wrapper--open {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
  }

  &__input-wrapper--open ~ &__btn {
    background: rgba(#000, 0.03);
    color: #fd665e;
  }

  &__input {
    padding: 10px 15px;
    background-color: rgba(#000, 0.03);

    &::placeholder {
      font-family: "SF UI Display", sans-serif;
      color: gray;
    }
  }

  &__label::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    transition: 0.4s;
  }

  &__input:focus + &__label::before,
  &__input:valid + &__label::before {
    width: 100%;
  }
}
