.cta {
  &__container {
    flex-direction: column;
    gap: 50px;

    @include mq(large) {
      flex-direction: row;
      gap: 123px;
    }
  }

  &__heading {
    margin-bottom: 34px;

    @include mq(large) {
      margin-bottom: 64px;
    }
  }
}
