.info {
  &__heading {
    margin-bottom: 40px;
  }

  &__body {
    gap: 155px;
  }
}

.info-details-wrapper {
  flex-direction: column;
}

.info-details {
  margin-bottom: 72px;

  // adds margin to children except first
  > * + * {
    margin-top: 48px;
  }

  &__container {
    gap: 38px;
  }

  &__heading {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  &__cta {
    margin-left: auto;
    margin-right: auto;
  }
}
