.partners {
  &__heading {
    margin-bottom: 40px;

    @include mq(large) {
      margin-bottom: 56px;
    }
  }

  &__brands {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @include mq(large) {
      justify-content: space-between;
      align-items: center;
      gap: 0;
    }
  }
}
