.rooms {
  &__container {
    overflow-x: hidden;
  }

  &__header {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: 2fr 1fr;

    @include mq(medium) {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }

  &__heading {
    @include mq(medium) {
      grid-column: 2;
      justify-self: center;
    }
  }

  &__buttons {
    justify-self: flex-end;
    align-self: flex-end;

    @include mq(medium) {
      grid-column: 3;
    }
  }
}

.slider {
  &__container {
    gap: 40px;
    user-select: none;
  }

  &__item {
    width: fit-content;
  }

  &__prev-btn {
    margin-right: 8px;
  }
}
