@font-face {
  src: url("../fonts/sf-ui-display/SF-UI-Display-Regular.otf");
  font-family: "SF UI Display";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../fonts/sf-ui-display/sf-ui-display-semibold-58646eddcae92.otf");
  font-family: "SF UI Display";
  font-weight: bold;
  font-style: normal;
}
